body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #04df84;
}

td, th {
  border: 1px solid #e208a133;
  text-align: center;
  padding: 8px;
  font-size: 80px;
}

tr:nth-child(even) {
  background-color: #cc762f;
}

a:link, a:visited {
  background-color: hotpink;
  color: rgb(4, 6, 19);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: groove
}

a:hover, a:active {
  background-color: red;
}
 
